body {
    background-color: rgb(221, 221, 221);
    color: rgba(39, 39, 39, 0.877);
    font-family: Arial;
    margin: 0px;
    padding: 0;
}

a:visited{
    color: rgb(170, 79, 255);
    opacity: 0.1;
}

a:link{
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

li{
    font-size: 22px;
}


a {
    font-size: 20pt;
    color: green;
    text-decoration: none;
    transition: 1s 1s;
    text-align: center;
    font-family: impact;
}


a:hover {
    color: red;
    text-decoration: line-through;
    transition: 0.2s;
}

a:active {
    color: black;
    opacity: 0.3;
}

div.menu {
    height: 410px;
    width: 520px;
    border: 1px solid rgb(150, 150, 150);
    opacity: 0.85;
    box-shadow: 0 0 30px rgb(82, 73, 73);
}


footer {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 1px;
    font-size: 16pt;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0;
    position: relative;
    z-index: 1;
}

main {
    
    font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        box-sizing: border-box;

}
.container {
    height: auto;
    width: auto;
    border: 1px solid rgb(150, 150, 150);
    box-shadow: 0 0 25px rgb(82, 73, 73);
    text-align: center;
    align-content: center;
    align-items: center;


}