body {
    background-color: rgb(173, 173, 173);
    color: rgba(240, 104, 14, 0.877);
    font-family: Arial;
    margin: 5px;
}

a:visited{
    color: blueviolet;
    opacity: 0.1;
}

a:link{
    color: aquamarine;
    opacity: 0.5;
}

li{
    font-size: 20px;
}

a {
    font-size: 20px;
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}

a:hover {
    color: red;
    text-decoration: underline;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}