body {
    background-color: rgb(173, 173, 173);
    color: rgba(240, 104, 14, 0.877);
    font-family: Arial;
    margin: 5px;
}

a:visited{
    color: blueviolet;
    opacity: 0.1;
}

a:link{
    color: aquamarine;
    opacity: 0.5;
}

li{
    font-size: 30px;
}

a {
    font-size: 22px;
    color: green;
    text-decoration: none;
    transition: 1s 2s;
    text-align: center;
}

a:hover {
    color: red;
    text-decoration: underline;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

div.menu {
    border: 7px solid rgb(238, 87, 0);
    border-radius: 5px;
    width: 380px;
    margin: 0 auto;
}

div.menu:hover{
    background-color: rgb(131, 131, 131);
    box-shadow: 0 0 15px rgb(65, 65, 65);
}

footer {
    background-color: black;
    color: lightgoldenrodyellow;
    padding: 10px;
    font-size: 16pt;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

main {
    margin: 10px 20px 45px;
}