<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Филиппов Денис. 7</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon-16x16.png">
    <link rel="icon" href="../favicon-32x32.png">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
 
</head>

<body>

<header>
        <h1>НГТУ, ФБ, Лабораторная работа 7</h1>
</header>

<main>

    <div id="app">
        <h1>{{ message }}</h1>
        <span :title="messageRus">{{ message }}</span>
        <p>Счетчик: {{ counter }}</p>
        <button @click="incCounter" v-if="counter">++</button>
        <button @click="decCounter" v-if="counter">--</button>
    </div>

</main>

<script>
        Vue.createApp({
            data() {
                return {
                    message: 'Hello!',
                    messageRus: 'Привет!',
                    counter: 1,
                }
            },
        methods: {
            incCounter() {
                this.counter++;
            },
            decCounter() {
                this.counter--;
            },
        }
    }).mount('#app');


    </script>

  
<footer>
        <p>&copy; Денис Филиппов, ФБИ-33, 2 курс, 2025</p>
</footer>

</body>
</html>
